body{
	margin:0 auto;
	padding:0px;
	max-width: 900px;
	font-family:'Roboto';
}
header {
    box-sizing: border-box;
    z-index: 200;
    width: 100%;
    background: #fff;
    font-size: 28px;
    padding: 0 20px;
    padding-top: 5px;
    max-width: 900px;
    border-top: 10px solid #004f80;
}
header .menu {
  float: right;
  	line-height: 1.85;
}
.menu-open {
  margin: 0 -20px;
  background: #f9f9f9;
  padding: 10px 30px;
}
.menu-open ul {
  list-style: none;
  padding: 0;
}
.menu-open a {
  text-decoration: none;
  color: #000;
  line-height: 2;
  font-weight: bold;
}
.topimg{
	text-align:center;
}
.topimg img{
    width:100%;
    margin-top:0px;
    border-radius:0px;
}
.land{
    display:block;
    text-align:center;
    margin-bottom:20px;
    font-size:22px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#bfd255+0,8eb92a+50,72aa00+51,9ecb2d+100;Green+Gloss */
background: rgb(191,210,85); /* Old browsers */
background: -moz-linear-gradient(top, rgb(191,210,85) 0%, rgb(142,185,42) 50%, rgb(114,170,0) 51%, rgb(158,203,45) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgb(191,210,85) 0%,rgb(142,185,42) 50%,rgb(114,170,0) 51%,rgb(158,203,45) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgb(191,210,85) 0%,rgb(142,185,42) 50%,rgb(114,170,0) 51%,rgb(158,203,45) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfd255', endColorstr='#9ecb2d',GradientType=0 ); /* IE6-9 */
    font-weight: 800;
    color:#fff;
    text-decoration: none;
    padding:10px;
    text-shadow:1px 1px 0px rgba(0,0,0,.4);
    text-transform: uppercase;
}
.topimg a{
	display:inline-block;
	vertical-align:top;
	width:100%;
	text-align:center;
}

video {
	width: 100%;
	background: #000;
}

main {
	margin: 0 16px;
}

h1{
	margin: 8px 0px;
    font-size: 23px;
    text-align: center;
    font-weight: 800;
}
h1 span{
	color:#ff0000;
}
.story ul, .story ol {
    line-height: 1.5;
    padding-left: 20px;
}

.story ul {
	list-style: none;
}

.story ul li {
	position: relative;
}
.super li{
	font-size:16px;
	margin-bottom:7px;
}
.super{
    margin: 0px;
    background: #eafddc;
    padding: 10px 10px 10px 30px!important;
    font-size: 18px;
}
.story ul li:before {
    content: "— ";
    color: #000;
    line-height: 1;
    position: absolute;
    font-size: 21px;
    left: -20px;
    top: 2px;
}

.story h2 {
     font-weight: 700;
    font-size: 19px;
    line-height: 23px;
    color: #000;
    margin-top: 30px;
    margin-bottom: 10px;
    padding-bottom: 10px;
}


.story ul,
.story ol {
	line-height: 1.5;
}

h2 + p {
	margin-top: 0;
}

.golova {
    position: relative;
}

.golova > img {
	position: relative;
}

.golova h2 {
    color: #013759;
    font-size: 22px;
    margin: 15px;
    font-weight: 700;
    text-transform: uppercase;
}
.golova h2 span{
	color:red;
	font-weight:700;
	text-decoration:underline;
}
.post-date {
    font-size: 12px;
    color: #000000;
    font-weight: 600;
    margin: 10px 20px 0 20px;
    text-align:center;
}

h2 span{
	font-weight:300;
}
.golova ul{
	padding:0px;
	margin:0px;
	font-size: 14px;	
	text-align:center;
}
.story p strong{
	font-weight:600;
}
.story p strong span{
	color:#fd0101;
}
.img-comment2{
	font-size:14px;
}
.story{
	font-size:18px;
}
.story p.vstuplenie{
	font-size:14px;

}
.kvota img{
    width: 80px;
    border-radius: 50%;
    position: absolute;
    left: 36%;
    top: -40px;
    border: 5px solid white;
}
.kvota{
	background:#ffefef;
	margin-top:50px;
	margin-bottom:0px;
	position:relative;
	padding:52px 15px 25px 15px;
}
.kvota p{
	padding:0px!important;
	margin:0px!important;
    font-size: 14px!important;
    line-height: 20px!important;
    font-weight: 600;
    text-align:center!important;
    color: #ec1010;
}
.kto h3{
	margin:0px!important;
	color:#000;
	padding:20px 0px!important;
	text-align:center;
	font-weight:800!important;
	font-style:normal!important;
	font-size: 26px;
}
.kto ul{
	list-style-type:none;
	padding:0px;
	text-align:center;
	margin:0px 0px 10px 0px!important;
}
.kto ul li{
	display:inline-block;
	width:49%;
	text-align:center;
	padding:0px 10px;
	box-sizing:border-box;
}
.kto img{
	border-radius:50%;
	border:5px solid #fff!important;
	max-width:100px;
}
.kto li a span{
	font-weight:400;
	font-size:14px;
	color:#000;
	text-decoration:none;
	display: block;
}
.kto li a{
	text-decoration:none;
}
.kto{
	background:#f1f1f1;
	padding-bottom:10px;
}
.kvota span{
	display:block;
	margin:10px;
	text-align:center;
	font-size:15px;
}
.kvota span strong{
	display:block;
}
.ere{
	font-weight:600;
	color:#137ce1!important;
	text-decoration:underline;
}
.golova ul li{
	list-style-type:none;
	display:inline-block;
	margin:0px 3px;
}
.golova ul li a{
	text-decoration:none;
	color:#000;
}
.img-responsive{
	width:100%;
}

.story p strong,
.story p b {
    font-weight: 600;
    background: #d6f4ff;
    padding: 0 3px;
}

.story h3{
	font-weight:500;
	font-style:italic;
	margin:12px 0px;
	padding:0px 10px;
}
.story a{
    font-weight: 600;
    color: #1697ce;
}
.toland{
	border: 3px dashed #000;
	text-align:center;
	background:yellow;
	padding-top: 20px;
	padding-bottom: 10px;
	margin-top:30px;
	position:relative;
	z-index:20;
	margin: 5px;
	margin-bottom: 20px;
}
.toland:after {
	position: absolute;
	content: " ";
	display: block;
	background: url(../images/scissors.svg);
	background-size: 77px;
	width: 75px;
	height: 45px;
	top: -24px;
	left: 29px;
}
.toland form {
	padding: 5px 20px;
}

.toland span{
	color: #f00;
	font-size:30px;
	font-weight:800;
	display:block;
}
.toland strong{
	display:block;
	text-align:center;
	font-size:32px;
	font-weight:800;
}
.buynow li span{
background: #55b227;
    display: inline-block;
    width: 25px;
    height: 25px;
    color: #fff;
    font-size: 16px;
    line-height: 25px;
    border-radius: 50%;
    text-align: center;
    position:relative;
    bottom:2px;
}
.buynow .delivery {
	text-transform: uppercase;
	font-weight: 900;
	font-size: 18px;
	display: block;
	color: green;
	margin-bottom: 20px;
}
blockquote {
	margin:0px;
	padding:0px;
	color:#ff0000;
	font-size:20px;
	font-style:italic;
	text-align:center;
}
blockquote:before{
	font-family: FontAwesome;
    content: "\f10e";
	font-size:10px;
	margin-right:5px;
	position:relative;
	top:-6px;
}
.img-comment2 p{
	margin:5px 0px;
}
.img-comment2 span{
	font-weight:600;
}
blockquote:after{
	font-family: FontAwesome;
    content: "\f10d";
	font-size:10px;
	margin-left:3px;
	position:relative;
	top:2px;
}
.story ul li {
    position: relative;
    font-size: 16px;
    margin-bottom: 10px;
}
.story p{
font-size: 16px;
    line-height: 26px;

    font-weight: 400;
	
}

html{
	padding:0px;
	margin:0px;
}

footer{
	text-align:center;
	background:#222;
	color:#fff;
	padding:10px 0px;
}
footer a{
	color:#fff;
}
.socialicons a{
	color:#fff!important;
	margin:0px 3px;
}

.story .content_img-title{
	font-size:20px;
	text-align:center;
	font-weight:900;
}
.footer-logo {
	width:228px;
	margin-bottom:10px;
}

.content_autor {
	border-right: 2px solid #eee;
	padding-right: 12px;
	color: #2464a4;
	margin-right: 12px;
	font-weight: 600;
	font-size: 12px;
    text-transform: uppercase;
	text-align: center;
	float: left;
	user-select: none;
	margin-bottom: 16px;
	font-weight: 800;
	text-decoration: none;
	width: auto;
}

.content_autor .ava {
	margin: 0 auto;
	border-radius: 50%;
	max-width: 60px;
	display: block !important;
}

.fa-facebook {
	color: #3b5999;
}

.fa-twitter {
	color: #1da1f3;
}

.fa-instagram {
	color: #262626;
}

.login_block-social_link {
	font-size: 1rem;
	margin-top: 6px;
	margin-right: 5px;
}

.paypal-link {
	margin: 20px 5% 0 5%;
    padding: 8px;
    line-height: 1;
    color: #111;
    background: #ffc439;
	text-decoration: none;
    font-size: 27px;
    display: block;
    border-radius: 35px;
	text-shadow: 1px 1px 0px rgba(255,255,255,0.4);
	letter-spacing: 0;
	display: none;
}
.paypal-link img {
	width: auto;
	vertical-align: middle;
}
.facebook-like {
	background: #4267b2;
	border: 1px solid #4267b2;
	color: #fff !important;
	border-radius: 3px;
	padding: 0 4px;
	line-height: 1;
	height: 20px;
	box-sizing: border-box;
	text-decoration: none;
	font-family: Helvetica, Arial, sans-serif;
	display: inline-block;
}

.facebook-like svg {
	width: 16px;
	height: 16px;
	vertical-align: middle;
}

.facebook-like .text {
	font-family: inherit;
	font-size: 11px;
}
.fil6 {
    fill:none
}
.fil0 {
    fill:#FEFEFE
}
.fil8 {
    fill:#6383C1;
    fill-rule:nonzero
}
.fil7 {
fill:url(#id1);
}
.fil4 {
    fill:#FCDC6B
}
.fil1 {
    fill:#6A99D0
}
.fil5 {
    fill:#201E1E
}
.fil2 {
    fill:#F50953
}
.fil3 {
    fill:#FEFEFE;
    fill-rule:nonzero
}
.fb-shit {
	text-align: center;
	display: flex;
	justify-content: space-around;
	font-size: 15px;
	margin:0 20px 0px 20px;
}
.fb-shit .fb-like-click {
	padding: 4px 10px;
	padding-left: 2px;
	border-radius: 4px;
	flex: 2 1 auto;
}

.fb-shit .fb-like-click + .fb-like-click {
	margin-left: 10px;
}

.fb-shit svg {
	height: 32px;
	width: 32px;
	vertical-align: middle;
}

.img-comment {
    display: block;
    width: 100%;

    color: #000;
    font-size: 18px;
    line-height: 25px;
    font-weight: 800;
    box-sizing: border-box;
}

.img-comment .star {
	color: #db1464;
	font-weight: 600;
	font-style: normal;
}

.img-comment2 {
    display: block;
    width: 100%;
    padding: 15px;
   background: #ececec;
    color: #000;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    box-sizing: border-box;
    margin: 10px 0;
}

.img-comment2 .ava {
    width: 100%;
    margin-right: 10px;
   
}

.img-comment2 h5,
.img-comment2 h4 {
	margin: 0;
}

/* comments */
.commentarios {
  padding: 5px 10px;
  line-height: 1;
  font-size: 11px;
  color: #fff;
  background: #2361ae;
  font-family: Tamoha, sans-serif;
}
.otros-commentarios a{
		color:#333;
	text-decoration:none!important;
	font-weight:700;
}
.otros-commentarios{
	margin:20px;
	display:block;
	border-radius:10px;
	padding:10px;
	background:#f2f2f2;
	color:#000;
	text-decoration:none!important;
	text-align:center;
}

.comenti {
  margin-bottom: 30px;
}

.coma {
    display: flex;
    font-family: Tahoma,sans-serif;
    font-size: 13px;
    line-height: 16px;
    margin: 0 10px;
    margin-top: 10px;
}

.coma + .coma {
  border-top: 1px solid rgb(226, 226, 226);
  padding-top: 10px;
}

.coma .coma {
	margin-left: 0;
}

.coma .col-avatar {
  flex: 0 0;
  margin-right: 10px;
}

.coma .col-avatar img {
  width: 50px;
}

.coma .col-comm-text {
  flex: 1 1 auto;
}

.coma .col-comm-text p {
	margin-top: 0;
}

.coma .col-comm-text img {
	max-width: 300px;
}

.coma .nickname {
  margin: 0;
}

.coma .nickname a {
  	color: rgb(59, 89, 152);
  	text-decoration: none;
  	font-weight: bold;
}

.coma .comment {
  padding-top: 5px;
  margin: 0px 28px 5px 0px;
}

.coma .comimg {
  display: block;
  margin: 10px 0;
  width: 70%;
}

.coma .respond {
  text-decoration: none;
  color: rgb(59, 89, 152);
}

.coma .date {
  	border-bottom: 1px dotted rgb(128, 128, 128);
  	color: rgb(128, 128, 128);
}

/* end comments */


.best-form {
	font: 16px/1.2 "Roboto", sans-serif;
	padding: 1rem;
	padding-bottom: 40px;
	color: #fff;
	background-color: #ffaa00;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpath fill='%23ffb803' d='M486 705.8c-109.3-21.8-223.4-32.2-335.3-19.4C99.5 692.1 49 703 0 719.8V800h843.8c-115.9-33.2-230.8-68.1-347.6-92.2C492.8 707.1 489.4 706.5 486 705.8z'/%3E%3Cpath fill='%23ffc607' d='M1600 0H0v719.8c49-16.8 99.5-27.8 150.7-33.5c111.9-12.7 226-2.4 335.3 19.4c3.4 0.7 6.8 1.4 10.2 2c116.8 24 231.7 59 347.6 92.2H1600V0z'/%3E%3Cpath fill='%23ffd40c' d='M478.4 581c3.2 0.8 6.4 1.7 9.5 2.5c196.2 52.5 388.7 133.5 593.5 176.6c174.2 36.6 349.5 29.2 518.6-10.2V0H0v574.9c52.3-17.6 106.5-27.7 161.1-30.9C268.4 537.4 375.7 554.2 478.4 581z'/%3E%3Cpath fill='%23ffe111' d='M0 0v429.4c55.6-18.4 113.5-27.3 171.4-27.7c102.8-0.8 203.2 22.7 299.3 54.5c3 1 5.9 2 8.9 3c183.6 62 365.7 146.1 562.4 192.1c186.7 43.7 376.3 34.4 557.9-12.6V0H0z'/%3E%3Cpath fill='%23ffef15' d='M181.8 259.4c98.2 6 191.9 35.2 281.3 72.1c2.8 1.1 5.5 2.3 8.3 3.4c171 71.6 342.7 158.5 531.3 207.7c198.8 51.8 403.4 40.8 597.3-14.8V0H0v283.2C59 263.6 120.6 255.7 181.8 259.4z'/%3E%3Cpath fill='%23ffea34' d='M1600 0H0v136.3c62.3-20.9 127.7-27.5 192.2-19.2c93.6 12.1 180.5 47.7 263.3 89.6c2.6 1.3 5.1 2.6 7.7 3.9c158.4 81.1 319.7 170.9 500.3 223.2c210.5 61 430.8 49 636.6-16.6V0z'/%3E%3Cpath fill='%23ffe547' d='M454.9 86.3C600.7 177 751.6 269.3 924.1 325c208.6 67.4 431.3 60.8 637.9-5.3c12.8-4.1 25.4-8.4 38.1-12.9V0H288.1c56 21.3 108.7 50.6 159.7 82C450.2 83.4 452.5 84.9 454.9 86.3z'/%3E%3Cpath fill='%23ffe157' d='M1600 0H498c118.1 85.8 243.5 164.5 386.8 216.2c191.8 69.2 400 74.7 595 21.1c40.8-11.2 81.1-25.2 120.3-41.7V0z'/%3E%3Cpath fill='%23ffdc64' d='M1397.5 154.8c47.2-10.6 93.6-25.3 138.6-43.8c21.7-8.9 43-18.8 63.9-29.5V0H643.4c62.9 41.7 129.7 78.2 202.1 107.4C1020.4 178.1 1214.2 196.1 1397.5 154.8z'/%3E%3Cpath fill='%23ffd771' d='M1315.3 72.4c75.3-12.6 148.9-37.1 216.8-72.4h-723C966.8 71 1144.7 101 1315.3 72.4z'/%3E%3C/g%3E%3C/svg%3E");
	background-size: cover;
}

.product {
	display: flex;
	text-align: center;
}

.product .left {
	width: 50%;
}

.product .right {
	width: 50%;
	position: relative;
}

.product .plus {
    line-height: 200px;
    font-size: 32px;
    color: #ed1b24;
    position: relative;
    left: 10px;
}

.product .free {
    background: #ed1b24;
    padding: 5px 10px 4px;
    line-height: 1;
    position: absolute;
    bottom: 63px;
    font-size: 18px;
    left: 17px;
}

.product .discount {
	background-image: linear-gradient(to right, #FFFF00, #FFEB3B);
	color: #f00;
	border-radius: 10px;
	transform: skew(-15deg);
	font-size: 3rem;
	font-weight: 700;
	font-style: italic;
	text-align: center;
	width: 85%;
	height: 5rem;
	line-height: 5rem;
	letter-spacing: -3px;
	margin-top: -.3rem;
}

.product.price {
	margin-top: -20px;
}

.product .discount div {
	transform: skew(15deg);
}

.product .price {
	color: #ed1b24;
	font-size: 5rem;
	font-weight: 700;
	letter-spacing: -6px;
	line-height: 1;
}

.product .discount-text {
	margin-top: 1rem;
	color: #000;
	font-size: 18px;
	line-height: 1;
}

.product .price span {
	font-weight: 300;
	font-size: 50%;
	margin-left: 5px;
}

.product .price-old {
	line-height: 1;
	padding-top: 20px;
}

.product .price-old span {
	display: inline-block;
	padding: 0 1rem;
	font-size: 3rem;
	letter-spacing: -6px;
	color: #000;
	position: relative;
	
}

.product .price-old span:before {
	position: absolute;
	content: "";
	left: 0;
	top: 45%;
	right: 0;
	border-top: 5px solid #ed1b24;
	transform: rotate(-10deg);
	border-radius: 20px;
}

/**
 * FANCY INPUT FORM
 */

.country-input,
.name-input,
.phone-input {
    color: #000;
    background: #fff;
    border: 2px solid #ffb804;
    width: 100%;
    box-shadow: 0px 0px 15px rgba(0,0,0,.3);
    border-radius: 6px;
    box-sizing: border-box;
    font-size: 20px;
    margin-bottom: 10px;
    display: flex;
    transition: all .15s ease-in-out;	
}

.name-input input,
.phone-input input {
	flex: 1 1 auto;
	border: 0;
	padding: 0;
	font: inherit;
	color: inherit;
	box-sizing: border-box;
	min-width: 0;
	padding: 10px 15px;
	padding-left: 0;
	border-radius: 6px;
}

.button-submit:focus,
.name-input:focus-within,
.phone-input:focus-within {
	outline: 0;
	box-shadow: 0 0 0 2px #bdab3c;
	border-color: #bdab3c;
}

.name-input:focus-within input,
.phone-input:focus-within input {
	outline: 0;
}

.name-input .country {
	border-radius: 3px;
	vertical-align: -2px;
}

.name-input label,
.phone-input label {
	align-self: center;
	padding-left: 15px;
	width: 40px;
	font-weight: bold;
}

.button-submit {
	text-align: center;
    display: flex;
    box-sizing: border-box !important;
    width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 1;
    color: #fff;
    border-radius: 6px;
    border: 0;
    padding: 14px 0;
    background-image: linear-gradient(to top,#137c09,#16ac0c);
	transition: all .15s ease-in-out;
	cursor: pointer;
	font: 18px/1.4 "Roboto", sans-serif;
    font-weight: 400;
}


.button-submit-text {
	color: #fff;
	flex: 1 1 auto;
    font: inherit;
    font-weight: 400;
}

.button-submit-arrow {
	width: 0;
    height: 0;
    border-top: .6rem solid transparent;
    border-bottom: .6rem solid transparent;
    border-right: 1rem solid #fff;
    margin-left: 1rem;
}

/* end form */
.form-title {
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 5px;
	font-weight: 300;
	margin-top: 0;
}


::placeholder {
	color: #000;
	opacity: 1;
	border-bottom: 1px dashed #aaa;
}


.popup {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.7);
	justify-content: center;
	z-index: 1000;
	overflow: auto;
	font-family: 'Roboto';
}
.popup.shown {
	display: flex;
}
.popup .buynow {
	margin: auto;
	width: 310px;
	background: #fff;
	border: 4px solid #ed1b24;
	text-align: center;
	border-radius: 6px;
}
.popup .buynow .countdown-block {
	margin: 0;
}
.popup .buynow .best-form {
	padding-top: 0;
	padding-bottom: 1em;
}
.popup .buynow h2 {
	margin: 0;
	color: #db1464;
	font-size: 22px;
}

.popup #close-popup {
	color: #fff;
	font-size: 54px;
	position: absolute;
	z-index: 50000;
	right: 10px;
	top: 0;
	line-height: 1;
	text-decoration: none;
}

.best-form > .wrap {
	max-width: 320px;
	margin: 0 auto;
}

/**
 * COUNTDOWN
 */
.countdown-block {
	margin-top: 20px;
	text-align: center;
	background: #ed1b24;
	color: #fff;
	padding: 15px 0;
	font-weight: 800;
	line-height: 1;
}

.countdown-discount {
	font-size: 42px;
}

.countdown-text {
	color: #fffd07;
	text-transform: uppercase;
	font-size: 17px;
	margin-top: 15px;
}

.countdown-date {
	font-size: 44px;
	font-weight: 500;
}

.countdown-slash {
	font-weight: 400;
	color: #fffd07;
}

/* end countdown */

.tab-content.faded {
	height: 100px;
	overflow: hidden;
	position: relative;
}

.tab-content.faded::after {
	display: block;
	content: " ";
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	background: linear-gradient(to top, #fff, rgba(255,255,255,.5));
}

.tab-title {
	color: #fff;
	background: #111;
	font-weight: 600;
	font-size: 14px;
	margin: 0;
	margin-top: 5px;
	padding: 10px;
	cursor: pointer;
	transition: color .2s, background .2s;
}

.tab-title.active {
	background: #ed1b24;
}

.tab-photos {
	font-size: 0;
	border: 0;
	border-radius: 0;
}

.tab-photos img {
	width: 50%;
}

.slick-next,
.slick-prev {
	width: 30px;
	height: 30px;
}

.slick-next:before,
.slick-prev:before {
	font-size: 30px;
}

.slick-prev {
    left: 10px;
    z-index: 200;
}

.slick-next {
    right: 10px;
    z-index: 200;
}

.slick-dots li button::before {
	content: " ";
}

.slick-dots li button {
	background: #f1def3;
	border-radius: 50%;
	width: 14px;
	height: 14px;
}

.slick-dots li.slick-active button {
	background: #57297a;
}

.lightbox .lb-image {
	border: 0;
	border-radius: 0;
}
